<!-- àçéèêîïôü -->
<div class="container">
  <h1>Mes événements à venir</h1>
  <table>
    <thead>
      <th>Date</th>
      <th>Lieu</th>
      <th>Note</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% @participations.each do |participation| %>
        <tr>
          <td><%= participation.event.date.strftime('%d-%m-%Y') %></td>
          <td><%= participation.event.site.address %></td>
          <td><%= participation.event.score['total_score'] %></td>
          <td>
            <%= link_to event_path(participation.event) do %>
              <i class="far fa-eye" style="font-size: 24px"></i>
            <%end%>
            <%= link_to participation_path(participation), method: :delete, data: { confirm: "Supprimer votre participation à cet événement" } do %>
              <i class="far fa-trash-alt" style="font-size: 24px"></i>
            <%end%>
          </td>
        </tr>
      <% end  %>
    </tbody>
  </table>
</div>

