<h3>...</h3>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <div style="margin-top: 80px"></div>
  <div class="form-inputs">

  <h3>Mon Profil</h3>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>


    <%= f.input :username,
                required: false, label: "Identifiant",
                input_html: { autocomplete: "Choisir un surnom" }%>
    <%= f.input :email, required: false %>
    <%= f.input :mobile,
                required: false, label: "Téléphone",
                input_html: { autocomplete: "Entrez votre numéro" }%>
    <%= f.input :password, label: 'Mot de passe',
                hint: "laissez le champ vide si vous ne voulez pas le changer",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation, label: 'Confirmer le mot de passe',
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password, label: 'Mot de passe actuel',
                hint: "nous avons besoin de votre mot de passe actuel pour confirmer vos modifications",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :avatar, label: 'Photo de profil' %>
    <%= f.input :avatar_cache, as: :hidden %>
  </div>

  <div class="form-actions text-right">
    <%= f.button :submit, "Mettre à jour" %>
  </div>
<% end %>
<%= link_to "Retourner", :back %>
