<h3>Mon Profil</h3>

<%= cl_image_tag current_user.avatar.url, class: "img_profile", width: 400, height: 400, crop: :crop, gravity: :face %>

  <%= simple_form_for(current_user) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username,
                  required: true, label: "Identifiant",
                  input_html: { autocomplete: "Choose a username" }%>
      <%= f.input :mobile,
                  required: false, label: "Téléphone",
                  input_html: { autocomplete: "Mobile Phone" }%>
      <%= f.input :avatar %>
      <%= f.input :avatar_cache, as: :hidden %>
    </div>

    <div class="form-actions text-right">
      <%= f.button :submit, "Modifier", class:"btn-red" %>
    </div>
  <% end %>

  <%= link_to "Modifier mot de passe", edit_user_registration_path %>
  </br>
  <%= link_to "Retour", root_path %>
