<h3 class="text-center p-3" style="margin-top: 24px">Mot de passe oublié?</h3>
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Réinitialiser" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
