<div 1 class="div_generale">
  <div 2 class="div_haut">
    <div 4 class="div_haut_gauche">
      <div 6 class="div_lieu">
        <h4><b><%= @event.site.address %></b></h4>
      </div>
      <div 7 class="div_date">
        <h5><span id="event" data-date=<%= @event.date %>><%= I18n.localize(@event.date, format: :custom) %></span></h5>
      </div>
    </div>
    <div 5 class="div_haut_droite">
      <div 16 class="div_btn_confirmation">
        <input class="btn btn-show" type="submit" name="commit" value="Confirmer ma présence" data-toggle="modal" data-target="#exampleModal" data-disable-with="Confirmer ma présence">
      </div>
    </div>
  </div>
  <div 3 class="div_bas">
    <div 8 class="div_bas_gauche">
      <div 10 class="div_photo">
        <div class="show_photo"><%= image_tag @event.site.photo, class: 'show_photo' %></div>
      </div>
      <div 11 class="div_description">
        <h7><i><%= @event.site.description %></i></h7>
      </div>
      <div 5 bis class="div_bas_btn">
        <div 16 class="div_btn_confirmation">
          <input class="btn btn-show" type="submit" name="commit" value="Confirmer ma présence" data-toggle="modal" data-target="#exampleModal" data-disable-with="Confirmer ma présence">
      </div>
      </div>
    </div>
    <div 9 class="div_bas_droite">
      <div 12 class="div_participants">
        <h3>Participants</h3>
        <br>
        <%= render 'participations_table' %>
      </div>
      <div 13 class="div_score">
        <h3>Analyse des conditions d'observation</h3>
        <p>Qualité d'observation</p>
        <div id="mygauge" style="text-align:right; margin:0px auto 0px auto;" class="cpuSpeed gauge-container" data-score="<%= @event.event_score %>"></div>
        <div class="affichage">
          <ul>
            <i class="fas fa-eye fa-lg"></i>
            <i class="fas fa-city fa-lg"></i>
            <i class="fas fa-moon fa-lg"></i>
            <i class="fas fa-cloud-sun fa-lg"></i>
          </ul>
        </div>
      </div>
      <div 14 class="div_map">
        <div class="map">
          <div id="future-map">Map</div>
          <div class="d-flex">
            <input class="btn-primary"type="submit" name="commit" value="Voir l'itinéraire" class="btn btn btn-primary" style="width:75%" data-disable-with="Confirmer ma présence">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
