<div 1 class="div_generale">
  <div 2 class="div_haut">
    <div 4 class="div_haut_gauche">
      <div 6 class="div_lieu">
        <h4><b><%= @event.site.address %></b></h4>
      </div>
      <div 7 class="div_date">
        <h5><span id="event" data-date=<%= @event.date %>><%= I18n.localize(@event.date, format: :custom) %></span></h5>
      </div>
    </div>
    <div 5 class="div_haut_droite">
      <div 16 class="div_btn_confirmation">
        <% if current_user.nil? %>
          <% user_events = [] %>
        <% else %>
          <% user_events = current_user.participations.map {|part| part.event_id} %>
        <% end %>

        <% if user_events.include?(@event.id) %>
          <%= link_to "https://www.google.com/calendar/render?action=TEMPLATE&text=#{URI.encode("Soirée Astronomie")}&dates=#{@event.date.strftime('%Y%m%dT180000')}/#{(@event.date + 1.days).strftime('%Y%m%dT030000')}&location=#{@event.site.address}&sprop=name:Name&sprop=website:EventWebite&details=#{@event.site.description}&sf=true&output=xml", class: 'calendar_btn btn-show je_participe',target: "_blank" do %>
          Ajouter à mon calendrier
        <% end %>
        <% elsif user_signed_in? %>
          <button class='btn-show je_participe' id= 'modal-toggle' name='commit' data-toggle='modal' data-target='#confirmModal' data-disable-with="Je participe !">Participer</button>
        <% end %>
      </div>
    </div>
  </div>
  <div 2 class="div_haut">
    <div 13 class="div_score">
      <h3>Analyse des conditions d'observation</h3>
      <p>Note du soir</p>
      <div id="mygauge" style="text-align:right; margin:0px auto 0px auto;" class="cpuSpeed gauge-container" data-score="<%= @event.score["total_score"] %>">
      </div>
      <div class="affichage">
        <div id="cloud-score" data-score=<%= @event.score["cloudiness_score"]%> style="text-align: center;"><p><i class="fas fa-cloud-sun cloud-sun fa-lg"></i> <%= @event.score["cloudiness_score"] %>/10 <br>  Prévision météo</p></div>
        <div id="pol-score" data-score=<%= @event.score["light_pol_score"] %> style="text-align: center;"><p><i class="fas fa-city city fa-lg"></i> <%= @event.score["light_pol_score"] %>/10 <br> Pollution lumineuse</p></div>
        <div id="moon-score" data-score=<%= @event.score["moon_score"] %> style="text-align: center;"><p><i class="fas fa-eye eye fa-lg"></i> <%= @event.score["moon_score"] %>/10 <br> Evènements astronomiques</p></div>
        <div id="astro-score" data-score=<%= @event.score["astro_event_score"] %> style="text-align: center;"><p><i class="fas fa-moon moon fa-lg"></i> <%= @event.score["astro_event_score"] %>/10 <br> Luminosité Lune</p></div>
      </div>
    </div>
  </div>
  <div 3 class="div_bas">
    <div 9 class="div_bas_gauche">
      <div 12 class="div_participants">
        <h3>Participants</h3>
        <br>
        <%= render 'participations_table' %>
      </div>
    </div>
    <div 8 class="div_bas_droite">
      <div 10 class="div_photo">
        <div class="show_photo"><%= image_tag @event.site.photo, class: 'show_photo' %></div>
      </div>
      <div 11 class="div_description">
        <h7><i><%= @event.site.description %></i></h7>
      </div>

      <div 5 bis class="div_bas_btn">
        <div 16 class="div_btn_confirmation">
          <%= render 'mapbox' %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'toolmodal' %>
