<div 1 class="div_generale">
  <div 2 class="div_haut">
    <div 4 class="div_haut_gauche">
      <div 6 class="div_lieu">
        <h4><b><%= @event.site.address %></b></h4>
      </div>
      <div 7 class="div_date">
        <h5><span id="event" data-date=<%= @event.date %>><%= I18n.localize(@event.date, format: :custom) %></span></h5>
      </div>
    </div>
    <div 5 class="div_haut_droite">
      <div 16 class="div_btn_confirmation">
        <% if user_signed_in? %>
          <button class='btn-show' id= 'modal-toggle' name='commit' data-toggle='modal' data-target='#confirmModal' data-disable-with="Confirmer ma présence">Confirmer ma présence</button>
        <% end %>
      </div>
    </div>
  </div>
  <div 3 class="div_bas">
    <div 9 class="div_bas_droite">
      <div 12 class="div_participants">
        <h3>Participants</h3>
        <br>
        <%= render 'participations_table' %>
      </div>
      <div 13 class="div_score">
        <hr>
        <h3>Analyse des conditions d'observation</h3>
        <p>Qualité d'observation</p>
        <div id="mygauge" style="text-align:right; margin:0px auto 0px auto;" class="cpuSpeed gauge-container" data-score="<%= @event.score["total_score"] %>">
        </div>
        <div class="affichage">
          <p class="cloud-sun"><i class="fas fa-cloud-sun cloud-sun fa-lg"></i>  Prévision météo - 10/10</p>
          <p class="city"><i class="fas fa-city city fa-lg"></i>  Pollution lumineuse - 9/10</p>
          <p class="eye"><i class="fas fa-eye eye fa-lg"></i>  Evènements astronomiques - 5/10</p>
          <p class="moon"><i class="fas fa-moon moon fa-lg"></i>  Luminosité Lune - 3/10</p>
        </div>
      </div>
    </div>
    <div 8 class="div_bas_gauche">
      <div 10 class="div_photo">
        <div class="show_photo"><%= image_tag @event.site.photo, class: 'show_photo' %></div>
      </div>
      <div 11 class="div_description">
        <h7><i><%= @event.site.description %></i></h7>
      </div>

      <div 5 bis class="div_bas_btn">
        <div 16 class="div_btn_confirmation">
          <%= render 'mapbox' %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'toolmodal' %>
