  <div class="container ">
    <div class="row">
      <div class="first-border">
        <h3><strong>Pollution Lumineuse</strong> <%= @event.score_pollution%> %</h3>

        <div class="text"> La pollution lumineuse est la conséquence de l'éclairage artificiel nocturne des villes. Elle nuit à l'observation astronomique en créant un brouillard lumineux quasi-permanent.</div>
        <br>
        <iframe src="<%= "https://www.lightpollutionmap.info/#zoom=9&lat=#{(@event.site.lat * 127934).floor}&lon=#{(@event.site.lng * 111475).floor}&layers=B0FFFFFTFFFF" %>" name="targetframe" allowTransparency="true" scrolling="yes" frameborder="0" style="width: 100%;height: 70vh" >
        </iframe>
         </div>
           </div>

  </div>
  <br>
  <hr>
  <br>
  <div class="second-border">
    <h3><strong>Temps</strong> <%= @event.score_cloud%> %</h3>
    <div>La météo est basée sur ce critère:
      <ul>
        <li> Nebulosité : La presence d'une importante couverture nuageuse peut compromettre la possibilité d'observation astronomique
        </li>
      </ul>
    </div>
  </div>
  </iframe>

  <br>
  <hr>
  <br>

  <div class="third-border">
    <h3><strong>Cycle de la lune </strong> <%= @event.score_lune%> %</h3>
     <div>Les cycles de la lune ont une incidence sur la qualité des observations astronomique par l'absence de nuit    noire ou non.
    </div>
    <br>
    <%= render 'moonphase' %>

  </div>
  <br>
  <hr>
  <br>

  <div class="fourth-border">
    <h3> <strong>Evènements Astronomiques </strong><%= @event.score_events%> %</h3>
    <div> Les observations astronomiques sont ponctués d'evènements à ne pas manquer pour rendre mémorable vos sorties</div>
  </div>
  <br>
  <hr>
  <br>
</div>
