<div class="flex-item">
  <% @events.each do |event| %>
    <ul>
      <%= link_to event_path(event) do %>
      <div class="card-trip">
        <%= image_tag "#{event.site.photo}", class: 'img-radius', size: "247x247", style: "background-image: url(#{image_url('image-placeholder-225x225.png')})" %>
        <div class="card-trip-infos">
          <div>
            <h2><%= I18n.localize(event.date, format: :custom) %></h2>
            <p><%= event.site.address %></p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
        </div>
      </div>
      <% end %>
    </ul>
    <!-- Gauge chart -->
    <div id="mygauge" class="cpuSpeed gauge-container" data-score=<%= event.event_score %>></div>
    <!-- End of gauge chart -->
  <% end %>
</div>
