<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Votre présence est confirmée !</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        Pour assurer une soirée réussie, vous pouvez mettre à disposition certains éléments aux autres participants:
        <%= simple_form_for :participation_form, url: event_participations_path(@event) do |f| %>
      <!-- checkboxes -->
        <div class="checkboxes">
          <section class="light-bg">
            <span>J'apporte mon téléscope</span>
            <%= f.input :telescope, label: false, input_html: {class:"toggle toggle__light", type: 'checkbox'} %>
          </section>
          <section class="light-bg">
            <span>Je partage ma voiture</span>
            <%= f.input :vehicle, label: false, input_html: {class:"toggle toggle__light", type: 'checkbox'} %>
          </section>
        </div>
      </div>
      <!-- end of checkboxes -->
      </div>

      <div class="modal-footer">
        <%= f.button :submit, "Enregistrer", class: "btn btn-primary" %>
        <%= link_to "https://www.google.com/calendar/render?action=TEMPLATE&text=#{URI.encode("Soirée d'astronomie")}&dates=#{@event.date.strftime('%Y%m%dT180000')}/#{(@event.date + 1.days).strftime('%Y%m%dT030000')}&location=#{@event.site.address}&sprop=name:Name&sprop=website:EventWebite&details=#{@event.site.description}&sf=true&output=xml", class: 'btn btn-primary w-100' do %>
          Ajouter dans mon calendrier
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
