<div class="loader">
<h3>AstroNight analyse les conditions d'observation</h3>
<br>
<br>
<h3 id="countup-site"></h3>
<h3 id="countup-meteo"></h3>
<h3 id="countup-astro-events"></h3>
<h3 id="countup-light-pol"></h3>
</div>

<br>
<div class="content">
  <div style="margin-top: 80px"></div>
  <div class="container">
    <h3> Nous avons trouvé <%= @events.count %> événements selon vos critères de recherche </h3>
    <table>
      <thead>
        <th>Photo</th>
        <th>Date</th>
        <th>Lieu</th>
        <th>Score</th>
      </thead>
      <tbody>
        <% @events.order(event_score: :desc, date: :asc).each do |event| %>
        <tr>
          <td>
            <%= link_to event_path(event) do %>
              <%= image_tag "#{event.site.photo}", size: "247x247", style: "background-image: url(#{image_url('image-placeholder-225x225.png')})" %>
            <% end %>
          </td>
          <td><%= event.date.strftime("%d/%m") %></td>
          <td><%= event.site.address %></td>
          <td><%= event.event_score %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
