<h1> Liste </h1>
<% @events.each do |event| %>
<ul>
  <li> Le <%= event.date.strftime("%d/%m/%Y") %> </li>
  <li> A <%= event.site.address %></li>
  <li> Score: <%= event.event_score %> </li>
  <% if event.site.photo.nil? %>
  <% else %>
    <li>photo url du site: <%= event.site.photo %></li>
  <% end %>

</ul>
<br>
<% end %>


<%= render partial: 'mapbox' %>

