 <div class="content container margin-form">
 <h3 class= "text-center"> Astronight vous recommande ces <%= @events.count %> événements:  </h3>

  <div class="loader">
  <h3>AstroNight analyse les conditions d'observation</h3>
  <br>
  <br>
  <h3 id="countup-site"></h3>
  <h3 id="countup-meteo"></h3>
  <h3 id="countup-astro-events"></h3>
  <h3 id="countup-light-pol"></h3>
  </div>
  <br>

<div class="flex-container">
  <div class="flex-item">
    <% @events.each do |event| %>
      <ul>
        <%= link_to event_path(event) do %>
          <%= image_tag "#{event.site.photo}", size: "247x247", style: "background-image: url(#{image_url('image-placeholder-225x225.png')})" %>
          <li><%= event.date.strftime("%d/%m") %></li>
          <li><%= event.site.address %></li>
          <li id="event" data-score=<%= event.event_score %>><%= event.event_score %></li>
        <% end %>
      </ul>
      <!-- Gauge chart -->
      <div id="mygauge" class="cpuSpeed gauge-container" data-score=<%= event.event_score %>></div>
      <!-- End of gauge chart -->
    <% end %>
  </div>


    <div class="flex-item mapbox"><%= render 'mapbox' %></div>

  </div>
</div>
