<div class="container p-3">
  <h3 text-align="center"> Vous cherchez où et quand aller observer les étoiles ? </h3>
  <%= simple_form_for :searchform, url: search_events_path, method: "GET" do |f| %>
    <div class="form-inline">
      <div>
        <%= f.input :address, label: false, required: true, input_html: {placeholder: 'Entrez une adresse', size: 49} %>
      </div>
      <div>
        <%= f.input :radius, label: false, collection: %W[50\skm 100\skm 200\skm], selected: '100 km' %>
      </div>
    </div>
    <div class="radio-choices">
      <%= f.input :date_range, label: "Choisissez la période:", as: :radio_buttons, collection: %W[Aujourd\'hui 7\sprochains\sjours 14\sprochains\sjours], placeholder: "14 prochains jours"  %>
    </div>
    <%= f.button :submit, 'Go!', class: 'btn btn-primary' %>
  <% end %>
</div>



<div class="btn-group">
  <input id="toggle-1" name="mode" type="radio" checked />
  <label class="btn first" for="toggle-1">
    Drawing
  </label>
  <input id="toggle-2" name="mode" type="radio" />
  <label class="btn" for="toggle-2">
    Stamps
  </label>
  <input id="toggle-3" name="mode" type="radio" />
  <label class="btn last" for="toggle-3">
    Stamps
  </label>
</div>
