<div class="container p-3">
  <h3 class="h3_home">Vous cherchez une place pour votre soirée d'astronomie ? </h3>
  <%= simple_form_for :searchform, url: search_events_path, method: "GET" do |f| %>
    <div class="form-inline">
      <div>
        <%= f.input :address, label: false, required: true, input_html: {placeholder: 'Entrez une adresse', size: 49} %>
      </div>
      <div>
        <%= f.input :radius, label: false, collection: %W[50\skm 100\skm 200\skm], selected: '100 km' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.input :date_range, label: "Choisissez la période:", as: :radio_buttons, collection: %W[Aujourd\'hui 7\sprochains\sjours 14\sprochains\sjours], checked: '14 prochains jours' %>
      <%= f.button :submit, 'Go!', class: 'btn btn-primary', id: "searchbtn" %>
    </div>
  <% end %>
</div>
