<div class="container" style="width: 400px">
  <h3 class="text-center p-3 h3_white" style="margin-top: 24px">Connexion</h3>
  <div class="p-3">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    label: 'Mot de passe',
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, label: 'Rester connecté', as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions text-right d-flex justify-content-center">
        <%= f.button :submit, "Se connecter", class: 'btn-bc-go' %>
      </div>
      <br>
      <div>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
